<%- include('includes/header') %>

<div class="outer-padding">
    <div class="container p-1">

        <%errors.forEach((error)=>{%>
            <div class="alert alert-danger small text-center"><%=error%></div>
        <%})%>
    
        <%success.forEach((msg)=>{%>
            <div class="alert alert-success small text-center"><%=msg%></div>
        <%})%>
    
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img
                                src="/images/office2.jpg"
                                alt="Sample photo"
                                class="img-fluid officePic2"
                                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                            />
                        </div>

                        <div class="col-xl-6">
                            <form action="/edit-employee/<%= employee._id %>" method="POST" class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase heading"><b>Update employee</b></h3>
                    
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1m" class="form-control form-control-lg" placeholder='<%= employee.username %>' readonly disabled/>
                                    <label class="form-label" for="form3Example1m">Name</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1n" class="form-control form-control-lg" placeholder='<%= employee.email %>' readonly disabled/>
                                    <label class="form-label" for="form3Example1n">Email</label>
                                </div>
    
                                <div class="form-outline mb-4">
                                    <input type="text" name='address' id="form3Example90" class="form-control form-control-lg" value='<%= employee.address %>'/>
                                    <label class="form-label" for="form3Example90">Address</label>
                                </div>
    
                                <div class="form-outline mb-4">
                                    <input type="tel" pattern="[0-9]{11}" name='contact' id="form3Example99" class="form-control form-control-lg" value='<%= employee.contact %>'/>
                                    <label class="form-label" for="form3Example99">Contact</label>
                                </div>

                                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                    <h6 class="mb-0 me-4 mr-4">Role: </h6>

                                    <div class="custom-control custom-radio custom-control-inline radio1">
                                        <input type="radio" id="assembler" value='assembler' name="role" class="custom-control-input" <%= employee.role=='assembler' ? 'checked' : '' %> />
                                        <label class="custom-control-label" for="assembler">Assembler</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline radio2">
                                        <input type="radio" id="carrier" value='carrier' name="role" class="custom-control-input" <%= employee.role=='carrier' ? 'checked' : '' %> />
                                        <label class="custom-control-label" for="carrier">Carrier</label>
                                    </div>
                                </div>

                                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                    <h6 class="mb-0 me-4 mr-4">Status: </h6>

                                    <div class="custom-control custom-radio custom-control-inline radio1">
                                        <input type="radio" id="active" value='active' name="status" class="custom-control-input" <%= employee.status=='active' ? 'checked' : '' %> />
                                        <label class="custom-control-label" for="active">Active</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline radio2">
                                        <input type="radio" id="inactive" value='inactive' name="status" class="custom-control-input" <%= employee.status=='inactive' ? 'checked' : '' %> />
                                        <label class="custom-control-label" for="inactive">Inactive</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline radio2">
                                        <input type="radio" id="suspended" value='suspended' name="status" class="custom-control-input" <%= employee.status=='suspended' ? 'checked' : '' %> />
                                        <label class="custom-control-label" for="suspended">Suspended</label>
                                    </div>
                                </div>
    
                                <div class="d-flex justify-content-end pt-3">
                                    <button type="submit" class="btn btn-success btn-lg ms-2 submit">Submit form</button>
                                </div>
    
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>

<%- include('includes/footer') %>