<%- include('includes/header') %>

<div class="outer-padding">
    <div class="container p-1">

        <%errors.forEach((error)=>{%>
            <div class="alert alert-danger small text-center"><%=error%></div>
        <%})%>
    
        <div class="d-flex p-2 flex-column align-items-center">
            <h1 class="display-3 text-center"><i>Employee Dashboard</i></h1>
    
            <div class="d-flex p-2 justify-content-center container card-container flex-wrap">       
                <div class="card">
                    <a href="/tasks">
                        <img src="/images/inventory.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Tasks</h5>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="/attendance/<%= new Date().getMonth()+1 %>/<%= new Date().getFullYear() %>">
                        <img src="/images/attendance.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Attendance</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    
    </div>
</div>

<%- include('includes/footer') %>